*.apk
*.ap_

*.dex

bin/
gen/


**/.metadata/*
**/.settings/*

*.DS_STORE
.DS_Store

*.BASE
*.REMOTE
*.LOCAL
*.ORIG

*.BASE.*
*.REMOTE.*
*.LOCAL.*
*.ORIG.*
Thumbs.db

proguard/dump.txt

*.ipr
*.iws
**/.idea/dictionaries
**/.idea/misc.xml
**/.idea/inspectionProfiles/Project_Default.xml

**/local.properties

com_crashlytics_export_strings.xml

**/proguard_logs/*
**/.idea/workspace.xml

**/.gradle/
**/.gradle/**
**/build/
**/out/

**/.idea/inspectionProfiles/profiles_settings.xml

**/.crashlytics_data/
**/.idea/libraries/**

.idea
*.iml

.gradle
build
local.properties
